<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755869996694-ttt25dqamocrimg9j9qr6hjd4inan06s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755869996694-ttt25dqamocrimg9j9qr6hjd4inan06s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755869996694-004srpn7odl5mc3q3pqf048ohtumof7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6I4cJ8KkVfbZ_WKpDPxWDDhviyT2tgs</string>
	<key>GCM_SENDER_ID</key>
	<string>755869996694</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Begaaly.Kurzhun2</string>
	<key>PROJECT_ID</key>
	<string>kurzhun01-c7924</string>
	<key>STORAGE_BUCKET</key>
	<string>kurzhun01-c7924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:755869996694:ios:015eb00ae733e6f751d4b7</string>
	<key>DATABASE_URL</key>
	<string>https://kurzhun01-c7924.firebaseio.com</string>
</dict>
</plist>
