<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595747783297-nsatgjgmv944p5ilqkf440qspcd45ubf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595747783297-nsatgjgmv944p5ilqkf440qspcd45ubf</string>
	<key>API_KEY</key>
	<string>AIzaSyDcXVbxAo_u2mqkonBmQsWh3fDrfGPPmJM</string>
	<key>GCM_SENDER_ID</key>
	<string>595747783297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Begaaly.Kurzhun2</string>
	<key>PROJECT_ID</key>
	<string>realone-b7223</string>
	<key>STORAGE_BUCKET</key>
	<string>realone-b7223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595747783297:ios:6ee4ce8c269cd3e4ed0380</string>
	<key>DATABASE_URL</key>
	<string>https://realone-b7223.firebaseio.com</string>
</dict>
</plist>